body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    background-color: lightgray;
    height: 100vh;
 
}

.cells {
    border: 1px solid black;
    padding: auto;
    background-color: white;
}
.cells.clicked {
    background-color: red;
  }
.content{
    padding: 50px   ;
    display: flex;
    justify-content: center;
    align-items : center;
}
.box {
    background-color: lightcoral;
    padding: 50px;
    border-radius: 45px;
}
.title, .bottom {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: lightyellow;
}
#container{
    display: grid;
    width: 550px;
    height: 550px;
 /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);*/
}

.footer {
    margin-top: auto;
}

.button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding-top: 24px;
    color: lightgoldenrodyellow;
}