body {
    background-color: lightgray;
    height: auto;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
}

.cells {
    border: 1px solid black;
    padding: auto;
    background-color: white;
}
.content{
    padding: 50px   ;
    display: flex;
    justify-content: center;
    align-items : center;
}
#container{
    display: grid;
    width: 600px;
    height: 600px;
 /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);*/
}