.cells {
    border: 1px solid black;
    padding: auto;
    background-color: aquamarine;
}
#container{
    display: grid;
    width: 600px;
    height: 600px;
 /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);*/
}